.place__paragraphs {
  display: grid;
  align-content: start;
  row-gap: 26px;
}

@media screen and (max-width: 984px) {
  .place__paragraphs {
    row-gap: 25px;
  }
}

@media screen and (max-width: 568px) {
  .place__paragraphs {
    padding: 0 16px;
  }
}


  