.footer {
    color: #FFFFFF;
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 24px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1124px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 568px) {
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 186px;
        padding-right: 118px;
        padding-left: 16px;
    }
 }
